html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html{
    color: #fff;
}
.class{
    box-sizing: border-box;
}
.p1{
font-size: larger;
width: 100%;
height: 100%;
box-sizing: border-box;
}
.top-menu{
display: flex;
flex-direction: row;
gap: 35px;
padding: 1px 5px 0px 500px;
width: 100%;
height: 100%;
cursor: pointer;
}
.top-menu:hover{
color: lightblue;
}
.wrapper{
width: 100%;
height: 100%;
position: relative;
}
.background{
width: 100%;
height: 100%;
}
.background img{
width: 100%;
height: 100%;
object-fit: cover;
}
.p3{
color: #fff;
font-size: 40px;
position: absolute;
top: 60px;
left: 150px;
}
table{
background-color: rgb(35, 34, 34);
border: black;
padding: 25px 160px 25px 150px;
}
#input{
    background-image: url(icon search.png);
}
.m1{
background-color: #fff;
width:1200px ;
height: 30px;
padding-top: 16px;
padding-left: 16px;
color: gray;

}
.p5{
padding-top: 150px;
text-align: center;

}
.m2{
font-size: 35px;
}
.m3{
padding-top: 30px;
}
.p6{
        display: flex;
        width: max-content;
        margin: 0 auto;
        cursor: pointer;
        gap: 15px;
        padding-top: 110px;
}
.p6 img{
width: 300px;
height: 170px;
}
.p7{
display: flex;
flex-direction: row;
gap: 35px;
width: 100%;
height: 100%;
cursor: pointer;
padding-top: 65px;
justify-content: center;
padding-bottom: 35px;
}
.content{
    width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
grid-template-areas:"post1 post1 post2 post3"
                    "post1 post1 post4 post5"
                    "post6 post7 post8 post9"
                    "post10 post10 post11 post12"
                    "post10 post10 post13 post14";
}
.post img{
    width: 100%;
    height:100% ;
}
.post1{
grid-area: post1;
position: relative;
}
.img1{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post2{
grid-area: post2;
position: relative;
}
.img2{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post3{
grid-area: post3;
position: relative;
}
.img3{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post4{
grid-area: post4;
position: relative;
}
.img4{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post5{
grid-area: post5;
position: relative;
}
.img5{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post6{
grid-area: post6;
position: relative;
}
.img6{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post7{
grid-area: post7;
position: relative;
}
.img7{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post8{
grid-area: post8;
position: relative;
}
.img8{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post9{
grid-area: post9;
position: relative;
}
.img9{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post10{
grid-area: post10;
position: relative;
}
.img10{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post11{
grid-area: post11;
position: relative;
}
.img11{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post12{
grid-area: post12;
position: relative;
}
.img12{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post13{
grid-area: post13;
position: relative;
}
.img13{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.post14{
grid-area: post14;
position: relative;
}
.img14{
    position: absolute;
    background-color: rgb(0,0,0,.35);
    bottom: 0px;
    width: 100%;
}
.p9{
padding-top: 25px;
text-align: center;
}
.header{
display: flex;
align-items: center;
justify-content: space-between;
}
.logo{
width: 400px;
}
.logo img{
display: inline-block;
}
a{
color: darkcyan;
}
.button1{
border: none;
color: #fff;
background-color: #333;
padding: 7px 20px 6px;
cursor: pointer;
font-size: 16px;
}
.button2{
background-color: aqua;
padding: 5px 12px 6px 12px;
cursor: pointer;
font-size: 16px;
}
.button3{
background-color: #333;
color: #fff;
padding: 9px 34px;
cursor: pointer;
}
.neveshte{
font-family: Roboto-Black;
}
.neveshte1{
display: flex;
gap: 26px;
padding-top: 100px;
}
@font-face {
    font-family: roboto;
    src: url("Roboto-Black.ttf");
}